	*{margin:auto;}
	
	div#paginacion {
	  border: 1px solid #CCC;
	  background-color: #E0E0E0;
	  padding: 2em;
	}
	
	div.clear  { 
		clear: both;
		text-align: center; 
	}
	
	.derecha { 
	float: right;
	border-style:solid;
	text-align: center;
	width:100px;
	}
	
	.derecha_ev { 
	float: right;
	border-style:solid;
	text-align: center;
	width:150px;
	}
	
	#calendar {
	width: 900px;
	margin: 0 auto;
	}

	.seccion  {
	padding-top: 2em; padding-right: 2em; padding-bottom: 2em; padding-left: 2em;	
	background-color: #FFF;
  	border-style: solid;
  	border-color: #000;
	border-width: thick;
	}

	body {
		text-aling: center;	
	}
	
header, article, nav, aside, footer {
	padding-top: 2em; padding-right: 2em; padding-bottom: 2em; padding-left: 2em;
	text-align: center; 
}